asgiref==3.7.2
attrs @ file:///private/tmp/python-attrs-20231231-4946-asrfow/attrs-23.2.0
blinker==1.6.2
certifi==2023.7.22
cffi @ file:///private/tmp/cffi-20231014-5454-1xfyd4s/cffi-1.16.0
chardet==4.0.0
charset-normalizer==3.1.0
click==8.1.3
contourpy==1.2.0
cycler==0.10.0
defusedxml==0.7.1
Django==5.0.1
Flask==2.3.2
fonttools==4.49.0
future==0.18.3
idna==2.10
itsdangerous==2.1.2
Jinja2==3.1.2
kiwisolver==1.4.5
line-bot-sdk==1.8.0
MarkupSafe==2.1.2
matplotlib==3.8.3
numpy==1.24.3
opencv-python-headless==4.8.0.74
packaging @ file:///private/tmp/python-packaging-20231211-10652-dl495i/packaging-23.2
pandas==2.0.2
pathspec @ file:///private/tmp/python-pathspec-20231212-4674-kki6wg/pathspec-0.12.1
pillow==10.2.0
platformdirs @ file:///private/tmp/python-platformdirs-20231204-5228-f28h82/platformdirs-4.1.0
pluggy @ file:///private/tmp/python-pluggy-20240124-4659-2tx6e7/pluggy-1.4.0
psutil @ file:///private/tmp/python-psutil-20240119-4491-sp0apg/psutil-5.9.8
pyarrow==12.0.0
pycparser @ file:///private/tmp/pycparser-20231013-5559-1dtd22y/pycparser-2.21
pygame==2.3.0
Pygments @ file:///private/tmp/pygments-20231121-5079-e7uuzt/pygments-2.17.2
pylance==0.4.17
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
pytz==2023.3
PyYAML @ file:///private/tmp/pyyaml-20231018-5457-utbrds/PyYAML-6.0.1
requests==2.31.0
requests-toolbelt==1.0.0
roboflow==1.1.21
scipy==1.12.0
six==1.16.0
sqlparse==0.4.4
supervision==0.18.0
tqdm==4.66.2
trove-classifiers @ file:///private/tmp/python-trove-classifiers-20240108-4532-17ylhs/trove-classifiers-2024.1.8
tzdata==2023.3
urllib3==2.0.2
Werkzeug==2.3.4
