{% extends "books/base.html" %}
{% block title %}書籍新增{% endblock %}
{% block content %}
{% load static %}
<br>

<div class="d-flex justify-content-between align-items-center mb-2">
    <h2>書籍新增</h2>
    <div>
        <button type="submit" class="btn btn-outline-primary" onclick="window.location.href='{% url 'Book' %}'">回書籍查詢</button>
    </div>
</div>

<div class="lookup-form-bg">
    <form class="row g-2" action="{% url 'BookCreate' %}" method="POST" name="form2">
        {% csrf_token %}
        <div class="col-12">
            <label for="bookname" class="form-label">書名<span style="color:red;"> *</span></label>
            <input type="text" class="form-control" id="bookname" name="book_name" maxlength="100" required>
        </div>

        <div class="col-12">
            <label for="inputState" class="form-label">書籍類別<span style="color:red;"> *</span></label>
            <select id="inputState" class="form-select" name="category_id" required>
            <option value="{{category_name}}">-</option>
            {% for category_id, category_name in categories %}
                <option value="{{ category_id }}">{{ category_name }}</option>
            {% endfor %}
            </select> 
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label">作者</label>
            <input type="text" class="form-control" id="inputAddress" name="book_author" maxlength="100">
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label">出版社</label>
            <input type="text" class="form-control" id="inputAddress" name="publisher" maxlength="100">
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label">出版日期</label>
            <input type="date" class="form-control" id="inputAddress" name="publish_date" value="{{ book.publish_date|date:"Y-m-d" }}" max="{{ today|date:"Y-m-d" }}">
        </div>

        <div class="col-12">
            <label for="floatingTextarea2" class="form-label">內容簡介</label>
            <textarea class="form-control" placeholder="最多輸入1000字" id="floatingTextarea2" style="height: 200px" name="summary" maxlength="1000"></textarea>
        </div>

        <div class="col-12">
            <label for="price" class="form-label">價格</label>
            <input type="number" class="form-control" id="price" min="0" name="price">
        </div>

        <div class="col-12">
            <label for="borrower" class="form-label">借閱人</label>
            <select id="borrower" class="form-select" name="borrower_id">
              <option value="">-</option>
              {% for borrower_id, username in usernames %}
                <option value="{{ borrower_id }}">{{ username }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="col-12">
            <label for="status" class="form-label">借閱狀態<span style="color:red;"> *</span></label>
            <select id="status" class="form-select" name="book_status" required>
              <option value="">-</option>
              {% for code_id, code_name in bookstatus %}
                <option value="{{ code_id }}">{{ code_name }}</option>
              {% endfor %}
            </select>
        </div>

        <div class="col-12">
            <label><span style="color:red;">* </span>為必填</label>
            <br>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-outline-primary">新增</button>
            </div>
        </div> 
    </form>
</div>
<br>
<br>
<br>


<script src="{% static 'js/bookcreate.js' %}"></script>
<script src="{% static 'js/onlyDigitInput.js' %}"></script>


{% endblock %}