{% extends "books/base.html" %}
{% block title %}書籍資料{% endblock %}
{% block content %}
{% load static %}
<br>

<div class="d-flex justify-content-between align-items-center mb-2">
    <h2>書籍資料</h2>
    <div>
        <button type="submit" class="btn btn-outline-primary" onclick="window.location.href='{% url 'Book' %}'">Back</button>
    </div>
</div>

<div class="lookup-form-bg">
    <form class="row g-2">
        <div class="col-12">
          <label for="inputAddress" class="form-label"><span style="color:red;">* </span><strong>書名</strong></label>
          <input type="text" class="form-control" id="inputAddress" value="{{book.name}}" readonly>
        </div>

        <div class="col-12">
          <label for="inputAddress2" class="form-label"><span style="color:red;">* </span><strong>書籍類別</strong></label>
          <input type="text" class="form-control" id="inputAddress2" value="{{book.category.category_name}}" disabled>
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label"><strong>作者</strong></label>
            <input type="text" class="form-control" id="inputAddress" value="{{book.author}}" readonly>
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label"><strong>出版社</strong></label>
            {% if book.publisher == None %}
                <input type="text" class="form-control" id="inputAddress" value="" readonly>
            {% else %}
                <input type="text" class="form-control" id="inputAddress" value="{{book.publisher}}" readonly>
            {% endif %}
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label"><strong>出版日期</strong></label>
            <input type="text" class="form-control" id="inputAddress" value="{{book.publish_date|date:"Y/m/d"}}" readonly>
        </div>

        <div class="col-12">
            <label for="floatingTextarea2" class="form-label"><strong>內容簡介</strong></label>
            {% if book.summary == None %}
                <textarea class="form-control" id="floatingTextarea2" style="height: 200px" readonly></textarea>
            {% else %}
                <textarea class="form-control" id="floatingTextarea2" style="height: 200px" readonly>{{book.summary}}</textarea>
            {% endif %}
        </div>

        <div class="col-12">
            <label for="inputAddress" class="form-label"><strong>價格</strong></label>
            <input type="text" class="form-control" id="inputAddress" value="{{book.price|default:""}}" readonly>
        </div>

        <div class="col-12">
            <label for="inputAddress2" class="form-label"><strong>借閱人</strong></label>
            <input type="text" class="form-control" id="inputAddress2" value="{{keeper_name|default:"---------"}}" disabled>
        </div> 

        <div class="col-12">
            <label for="inputAddress" class="form-label"><span style="color:red;">* </span><strong>借閱狀態</strong></label>
            <input type="text" class="form-control" id="inputAddress" value="{{book.status.code_name}}" disabled>
        </div>
    </form>

    <div class="col-12">
        <br>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-success" onclick="window.location.href='{% url 'BookEdit' book.id %}'">修改</button>
        </div>
    </div> 
</div>


{% endblock %}